h1 {
    font-size: larger;
    font-weight: 700;
    font-family: 'Arial', sans-serif;
}
svg {
    color: black;
}
span {
    color: black;
    font-weight: 500;
    font-size: large;
}
#menu {
    border-bottom: 1px solid black;
}
.btn-toggle-nav a {
    display: inline-flex;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle:hover, .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}
/* .link-dark {
    color: #212529;
}
.fw-normal {
    font-weight: 400!important;
} */