{% extends 'index.html' %}
{% block content %}
<main class="mb-4">
  {% with messages = get_flashed_messages() %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show flash-messages" role="alert">
    <div class="d-flex align-items-center"> <!-- Make the icon and text flex items -->
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
        </div>
        <div class="ms-2"> <!-- Add margin to separate the icon from the text -->
            {{ message }}
        </div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {% endfor %}
  {% endwith %}
    <!-- <div class="container bordered rounded shadow my-4 p-3"> -->
      <div class="form-centered p-3 shadow">
        <form role="search" method="post" action="{{ url_for('add') }}" autocomplete="off">
          <div class="mb-3">
              <label for="itemName" class="form-label">Item Name</label>
              <input type="text" class="form-control" id="itemName" name="itemName" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="itemQuantity" class="form-label">Item Quantity</label>
            <input type="text" class="form-control" id="itemQuantity" name="itemQuantity" autocomplete="off">
        </div>
        <div class="mb-3">
          <label for="buyingPrice" class="form-label">Buying Price</label>
          <input type="text" class="form-control" id="buyingPrice" name="buyingPrice" autocomplete="off">
      </div>
      <div class="mb-3">
        <label for="sellingPrice" class="form-label">Selling Price</label>
        <input type="text" class="form-control" id="sellingPrice" name="sellingPrice" autocomplete="off">
    </div>
          <button type="submit" class="btn btn-primary">Add New Item</button>
        </form>
    </div>
  </main>
{% endblock %}