<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Management System</title>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color: #F3F8FF; width: 100%; height: 100vh;">
    <header class="p-2" style="background-color: #11009E;">
        <nav>
        <div class="container-fluid">
            <div class="d-flex align-items-center row">
                <div class="col-1">
                    <a href="{{ url_for('dashboard') }}" class="d-flex align-items-center text-white text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-kanban-fill" viewBox="0 0 16 16">
                            <path d="M2.5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm5 2h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1m-5 1a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm9-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1"/>
                        </svg>
                    </a>
                </div>
                <h1 class="col-6 navbar-brand" style="color: antiquewhite;">STOCK MANAGEMENT SYSTEM</h1>
                <div class="col d-flex justify-content-end">
                    <button type="button" class="btn btn-lg btn-outline-light me-2">Login</button>
                </div>
            </div>
        </div>
        </nav>
    </header>
     <nav class="navbar align-items-center mb-0" style="background-color: #EEF0E5;">
        <div class="container d-flex justify-content-between align-items-center">
            <p class="m-0">Welcome to Stock Management System</p>
            <p class="m-0" id="date"></p>
            <p class="m-0" id="time"></p>
        </div> 
    </nav> 
    <div class="container-fluid row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white full-height-sidebar" style="height: 600px; width: 230px;  background-color: white; border: 1px solid grey; border-bottom: 2px solid black;">
      <img src="/static/images/download.jpeg" alt="">
      <h1 class="mt-3 ms-5 mb-0" style="color: black; font-size: large;font-weight: 700;">MY STORE</h1>
      <!-- <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4M3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707M2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10m9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5m.754-4.246a.39.39 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.39.39 0 0 0-.029-.518z"/>
          <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A8 8 0 0 1 0 10m8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3"/>
        </svg>
        <span class="fs-4">Dashboard</span>
      </a> -->
      <hr class="mt-0" style="color: black;">
      <ul class="nav nav-pills nav-fill flex-column mb-auto">
        <li class="nav-item">
          <a href="{{ url_for('dashboard') }}" class="text-white w-100 btn btn-toggle rounded collapsed d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4M3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707M2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10m9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5m.754-4.246a.39.39 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.39.39 0 0 0-.029-.518z"/>
              <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A8 8 0 0 1 0 10m8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3"/>
            </svg>
            <span class="ms-2">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
            <button class="btn btn-toggle rounded collapsed w-100 d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#stock-collapse" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
              </svg>
            <span class="ms-2">Stock</span>
          </button>
          <div class="collapse {% if 'restock' in request.path or 'stock' in request.path or 'sold' in request.path %} show {% endif %}" id="stock-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small nav nav-pills nav-fill ">
              <li><a href="{{ url_for('stock') }}" class="link-dark rounded nav-link">View Stock</a></li>
              <li><a href="{{ url_for('restock') }}" class="link-dark rounded nav-link">Add Stock</a></li>
              <li><a href="{{ url_for('sold') }}" class="link-dark rounded nav-link">Sell Stock</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
            <button class="btn btn-toggle rounded collapsed w-100 d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#transactions-collapse" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
              </svg>
            <span class="ms-2">Transactions</span>
          </button>
            <div class="collapse {% if 'transactions' in request.path %} show {% endif %}" id="transactions-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small nav nav-pills nav-fill ">
                <li><a href="{{ url_for('intransactions') }}" class="link-dark rounded nav-link">Purchased Goods</a></li>
                <li><a href="{{ url_for('outtransactions') }}" class="link-dark rounded nav-link">Sold Goods</a></li>
              </ul>
            </div>
        </li>
        <li class="d-flex justify-content-start align-items-center nav-item">
          <a href="{{ url_for('profit') }}" class="nav-link text-white w-100 btn btn-toggle rounded collapsed d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
              <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
              <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
              <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
            </svg>
            <span class="ms-2">Profit</span>
          </a>
        </li>
        <li class="d-flex justify-content-start align-items-center nav-item">
          <a href="{{ url_for('kiraka') }}" class="nav-link text-white w-100 btn btn-toggle rounded collapsed d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-minus" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5"/>
              <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
              <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
            </svg>
            <span class="ms-2">Kiraka</span>
          </a>
        </li>
      </ul>
      <hr>>
    </div>
      <div class="full-height-container d-flex col table-responsive">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-1 my-2 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-body-secondary">Stock Management System | Developed by Cliff</span>
        </div>
    </footer>
    <script>
        function updateTime() {
            const now = new Date();
            const dateElement = document.getElementById('date');
            const timeElement = document.getElementById('time');

            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            dateElement.textContent = now.toLocaleDateString('en-US', options);
            
            const timeOptions = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
            timeElement.textContent = now.toLocaleTimeString('en-US', timeOptions);
        }
        updateTime();
        setInterval(updateTime, 1000);
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
      $('#startDate').datepicker({
          format: 'yyyy-mm-dd', 
          autoclose: true,
          todayHighlight: true,
          startDate: '2023-12-31',
          endDate: new Date(),
          clearBtn: true
      });
    
      $('#endDate').datepicker({
          format: 'yyyy-mm-dd',
          autoclose: true,
          todayHighlight: true,
          startDate: '2023-12-31',
          endDate: '2024-02-02',
          clearBtn: true
      });
        // Update the startDate option of the second datepicker when the first date is changed
      $('#startDate').on('changeDate', function (e) {
          // Get the selected date from the first datepicker
          var selectedDate = e.date;

         // Set the selected date as the startDate of the second datepicker
          $('#endDate').datepicker('setStartDate', selectedDate);
      });
    </script>
</body>
</html>