{% extends 'index.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show flash-messages" role="alert">
  <div class="d-flex align-items-center"> <!-- Make the icon and text flex items -->
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
      </div>
      <div class="ms-2"> <!-- Add margin to separate the icon from the text -->
          {{ message }}
      </div>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}
<div class="container-fluid">
    <div class="d-flex flex-row justify-content-end">
        <a href="{{ url_for('new_deni') }}" class="btn rounded btn-outline-success d-flex justify-content-center mt-3" style="height: 40px; width: 100px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            <p class="ms-3 mt-1">Add</p>
        </a>
    </div>
    <div class="row">
        <nav class="navbar bg-body-tertiary mt-3">
            <div class="container-fluid">
              <form class="d-flex flex-grow-1" role="search" method="post" action="{{ url_for('kiraka') }}">
                <input class="form-control search mb-0 me-2" name="search" id="search" autocomplete="off" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
    <div class="wrapper overflow-auto border-div">
        <table class="wrapper overflow-auto table table-bordered">
            <thead class="table-dark text-center">
              <tr class="p-2">
                <th scope="col">#</th>
                <th scope="col" class="col-7">Customer Name</th>
                <th scope="col" class="col-2">View</th>
                <th scope="col" class="col-2">Action</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {%for data in all_data %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td class="text-center p-3">{{ data.customer_name|title }}</td>
                <td class="text-center p-2">
                    <div class="d-flex justify-content-center">
                      <!-- <a href="#" class="text-decoration-none btn btn-success mx-4">View</a> -->
                      <a type="button" class="btn btn-success mx-4" onclick="openPopup(this)" data-custom="{{loop.index}}">View</a>
                      <div class="popup-container" id="popupContainer{{ loop.index }}">
                        <div class="popup text-center p-2" id="popup{{ loop.index}}">
                            <h2 id="popupHeading{{ loop.index }}" class="mt-2">{{ data.customer_name|title }}</h2>
                            <hr class="mt-1">
                            <table class="table table-bordered">
                              <thead class="text-center">
                                <tr class="p-2">
                                  <th scope="col">Item Name</th>
                                  <th scope="col">Quantity Burrowed</th>
                                  <th scope="col">Total</th>
                                </tr>
                              </thead>
                              <tbody class="table-group-divider">
                                {% for item in data.items_owned['items'] %}
                                <tr>
                                  <td class="p-2">{{ item.item_name|title }}</td>
                                  <td class="text-center p-2">{{ item.quantity_borrowed }}</td>
                                  <td class="text-center p-2">{{  item.quantity_borrowed * item.price_bought }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            <button type="button" onclick="closePopup(this)" data-custom="{{loop.index}}" class="btn btn-lg btn-outline-success mt-3 mb-0">Close</button>
                        </div>
                    </div>

                    </div>
                </td>
                <td>
                  <div class="d-flex p-2">
                    <a href="{{ url_for('pay_deni', customer_id=data.id) }}" class="text-decoration-none btn btn-success me-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Pay</a>
                    <a href="{{ url_for('existing_deni', customer_id=data.id) }}" class="text-decoration-none btn btn-success me-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add</a>
                </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
      </div>
      <script>
        function openPopup(button){
          var index = button.getAttribute("data-custom");
          var popup = document.getElementById("popup" + index);
          var popupHeading = document.getElementById("popupHeading" + index);
          var popupContainer = document.getElementById("popupContainer" + index);
          
          popupContainer.style.display = "block";
          popup.classList.add("open-popup");
          popup.focus();
        }
        function closePopup(button){
          var index = button.getAttribute("data-custom");
          var popup = document.getElementById("popup" + index);
          var popupContainer = document.getElementById("popupContainer" + index);
          popupContainer.style.display = "none";
          popup.classList.remove("open-popup");
        }
      </script>
{% endblock %}

        <!-- <a href="#" class="text-decoration-none btn btn-success mx-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ loop.index }}" data-items="{{ data.items | tojson | safe }}">View</a> -->