{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
    <table class="table table-bordered">
        <thead class="table-dark text-center">
          <tr class="p-2">
            <th scope="col">Item Name</th>
            <th scope="col">Quantity Sold</th>
            <th scope="col">Profit</th>
          </tr>
        </thead>
        <!-- for item, details in quantity_sold.items():
        item_to_calculate = Stock.query.filter_by(item_name=item).first()
        profit = (item_to_calculate.selling_price - item_to_calculate.buying_price)*details['quantity_sold']
        print(f"{item}:{details['quantity_sold']} has made a profit of {profit}") -->
        <tbody class="table-group-divider">
          {%for data in all_data %}
          <tr>
            <td class="p-2">{{ data[0] }}</td>
            <td class="text-center p-2">{{ data[1] }}</td>
            <td class="text-center p-2">{{ data[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}