{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-end">
              <a href="{{ url_for('add') }}" class="btn btn-outline-success btn-sm rounded text-decoration-none my-3" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                <div class="row">
                <div class="col-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </div>
                <div class="col text-start">
                    <p>Add new item</p>
                </div>
                </div>
        </a>
        </div>
    </div>
    <nav class="navbar bg-body-tertiary my-2">
      <div class="container-fluid">
        <form class="d-flex flex-grow-1" role="search" method="post" action="{{ url_for('stock') }}">
          <input class="form-control search mb-0 me-2" name="search" id="search" autocomplete="off" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- <div class="row">
        <div class="col-md-6 mx-auto">
          <form class="form-inline" method="post" action="{{ url_for('stock') }}">
            <div class="row input-group w-100">
                <input class="form-control search mb-0" name="search" id="search" type="search" placeholder="Start typing to filter..." autocomplete="off">
            </div>
          </form>
        </div>
      </div> -->
<div class="wrapper overflow-auto border-div">
<table class="wrapper overflow-auto table table-bordered">
    <thead class="table-dark text-center">
      <tr class="p-2">
        <th scope="col">Stock Name</th>
        <th scope="col">Current Stock In Inventory</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Selling Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {%for stock in all_stocks %}
      {% if stock.item_quantity < 4 %}
      <tr class="table-warning">
      {% else %}
      <tr>
      {% endif %}
        <td class="p-2">{{ stock.item_name }}</td>
        <td class="text-center p-2">{{ stock.item_quantity }}</td>
        <td class="text-center p-2">{{ stock.buying_price }}</td>
        <td class="text-center p-2">{{ stock.selling_price }}</td>
        <td>
          <div class="d-flex p-2">
            <a href="{{ url_for('edit', stock_id=stock.id) }}" class="text-decoration-none"><button type="button" class="btn btn-success me-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</button></a>
            <button type="button" class="btn btn-danger me-2 delete-btn" data-bs-toggle="modal" data-bs-target="#delBtn" onclick="prepareDeleteConfirmation(this)" data-stock-id="{{ stock.id }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete</button>
        </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="delBtn" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this item?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{{ url_for('delete', stock_id='') }}" type="button" class="btn btn-danger btn-primary" id="confirmDeleteBtn" data-stock-id="">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    function prepareDeleteConfirmation(button) {
      var stockId = button.getAttribute('data-stock-id');
      console.log("Stock ID:", stockId);
      var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
      confirmDeleteBtn.setAttribute('data-stock-id', stockId);
      confirmDeleteBtn.href = confirmDeleteBtn.href.replace('stock_id=', 'stock_id=' + stockId);
    }
  </script>
{% endblock %}